@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>CoolPeople Inc.</h3>



<address>
   
    <strong>Email:</strong> <a href="mailto:info@coolpeople.com">info@coolpeople.com</a><br />
    <strong>Web:</strong> <a href="https://coolpeople.com">coolpeople.com</a><br />
</address>